.home1 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.left-content {
  width: 40%;
  background-color: #243642;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.left-content::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.right-content {
  width: 60%;
  background-color: #629584;
  height: 100%;
  padding-left: 200px;
  overflow-y: scroll;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.right-content::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

.circle {
  position: absolute;
  top: 50%;
  left: 40%; /* Aligns with the line where the divs meet */
  transform: translate(-50%, -50%); /* Center the circle on the line */
  width: 350px;
  height: 350px;
  border-radius: 50%; /* Makes it a circle */
}

.left-logo {
  width: 200px;
  height: 200px;
}

.left-text {
    color: white;
    font-weight: 500;
}

.right-text {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: end;
}

.right-desc {
    font-size: 24px;
    font-weight: 600;
    color: lightgray;
    text-align: end;
}