.Home {
  margin: 0 120px;
  background-color: #f3f0e8;
}

@media only screen and (max-width: 768px) {
  .Home {
    margin: 20px;
  }
}

.home-nav {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-logo {
  font-family: "Irish Grover", system-ui;
  font-weight: 600;
  font-size: 24px;
}

.home-nav-menu {
  font-family: "Comfortaa", sans-serif;
  font-weight: 600;
  color: #a8a194;
}

.Home-headline {
  font-family: "Comfortaa", sans-serif;
  font-size: 3.5rem;
  line-height: normal;
  font-weight: bold;
  color: #606c5a;
}

.Home-subheading {
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #606c5a;
}

.choose-a-chair {
  background-color: #606c5a !important;
  border: none !important;
  border-radius: 8px !important;
  color: #e6e4e0;
  font-weight: bold !important;
}

.payment {
  border: 1px solid #606c5a !important;
  border-radius: 8px !important;
  color: #606c5a;
  font-weight: bold !important;
  background-color: none;
}

.home-img {
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 25rem;
  width: auto;
}

.home-img-col {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .home-img-col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
  }
}

.latest-deals {
  width: 100px !important;
}

.featured-products {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #FDFBF4;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.03);
    align-items: center;
    justify-content: center;
    height: 150px;
}

.featured-name {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #606c5a;
}

.featured-img {
    z-index: 100;
    height: 300px;
}

.product-tab-title {
    color: #606c5a;
    font-size: 18px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.product-tab-items {
    color: #606c5a;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.Product-card {
    border: 1px solid rgba(96, 108, 90, 0.5);
    border-radius: 16px;
    padding: 16px;
    height: 16rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

@media only screen and  (min-width : 768px) {
  .Product-card {
    order: 1px solid rgba(96, 108, 90, 0.5);
    border-radius: 16px;
    padding: 16px;
    height: 18rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
}


.zen-lounger-details {
  width: 70%;
  background-color: #E6DED6;
  display: flex;
  justify-content: flex-end;
  padding: 30px 16px;
}

.Zen-lounger-title {
  color: #606c5a;
  font-weight: bold;
  font-family: "Comfortaa", sans-serif;
  font-size: 45px;
}

.Zen-lounger-body {
  color: #606c5a;
  font-weight: 500;
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  text-align: center;
}

.Home-footer {
  background-color: #606c5a;
  padding: 24px;
}

.footer-products h5, .footer-products div {
  color: #E6E4E0;
}