.nav-brand {
    font-family: "Irish Grover", system-ui;
    font-weight: 600;
    font-size: 24px;
    color: #A8A194 !important;
}

.nav-menu {
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
    color: #A8A194 !important;
}

.nav-menu:hover {
    font-weight: bold;
    font-family: "Comfortaa", sans-serif;
    font-weight: bold !important;
    color: #A8A194 !important;
}
