.product-img-backgroud {
  width: 500px;
  height: 500px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.product-image-div {
  margin: 24px;
  margin-left: 0;
  width: 50%;
}

.pd-title {
  color: var(--text-color-light);
  font-weight: bold;
  font-size: 40px;
  font-family: "poppins", sans-serif;
}

.pd-code {
  color: var(--accent-color-2);
  font-weight: 300;
  font-size: 16px;
  font-family: "poppins", sans-serif;
}

.pd-desc {
  color: var(--accent-color-2);
  font-weight: 400;
  font-size: 18px;
  font-family: "Comfortaa", sans-serif;
}

.pd-colordesc {
  color: var(--accent-color-2);
  font-weight: 300;
  font-size: 14px;
  font-family: "Comfortaa", sans-serif;
}

.pd-cost {
  color: var(--text-color-light);
  font-weight: bold;
  font-size: 32px;
  font-family: "Comfortaa", sans-serif;
}

.add-review {
  color: var(--accent-color-2);
  font-weight: bold;
  font-size: 16px;
  font-family: "Comfortaa", sans-serif;
  margin-right: 24px;
  cursor: pointer;
}

.pd-discount {
  color: var(--text-color-dark);
  font-weight: bold;
  font-size: 32px;
  font-family: "Comfortaa", sans-serif;
  text-decoration: line-through;
}

.pd-percentage {
  color: #a8a194;
  font-weight: light;
  font-size: 14px;
  font-family: "Comfortaa", sans-serif;
}

.username-review {
  color: var(--text-color-light);
  font-weight: 500;
  font-size: 16px;
  font-family: "Comfortaa", sans-serif;
}

.review-card {
  width: 47% !important;
  margin: 16px;
}

@media only screen and (max-width: 768px) {
  .review-card {
    width: 100% !important;
    margin: 16px;
  }

  .product-image-div {
    width: 100%;
  }
  .product-img-backgroud {
    width: 350px;
    height: 350px;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
  }

  .pd-img-width {
    height: 300px;
  }
  .mobileflex-pd {
    display: flex;
    flex-direction: column;
  }
}

.add-button-home {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: rgba(256, 256, 256, 0.01);
  border-radius: 50%;
}

.add-button-home:hover {
  cursor: pointer;
  background-color: rgba(256, 256, 256, 0.08);
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.required {
  color: red;
}

.custom-rate .ant-rate-star:not(.ant-rate-star-full):not(.ant-rate-star-half) .ant-rate-star-first,
.custom-rate .ant-rate-star:not(.ant-rate-star-full):not(.ant-rate-star-half) .ant-rate-star-second {
  color: var(--text-color-dark); /* Your custom color for empty stars */
}
